* {
  font-family: Spartan, sans-serif;  /* Select font: Spartan */
}

.wrapper {	/* Allows horizontal scroll bar to always be visible */
	height: 97vh;
}

/* Collapsible */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #aaa;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content:last-child {
	padding-top: 0px;
	padding-bottom: 0px;
}

.collapsible::after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

#time-range, #dist-range {
	padding-bottom: 4px;
}

/* Submit Button */

#showResults {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
	outline: none;
  box-shadow: 0 6px #919191;
}

#showResults:hover {
  background-color: #47964b
}

#showResults:active {
	background-color: #337d37;
  box-shadow: 0 3px #777;
  transform: translateY(3px);
}

/* Table */

#myTable {
  font-size: 18px;  /* Increase font-size */
  border-collapse: collapse;  /* Collapse borders */
  width: 100%;  /* Full-width */

}

#myTable th {
  background-color: #536eb4; /* Make header red */
  color: white;  /* Make header text white */
}

#myTable th, #myTable td {
  text-align: left;  /* Left-align text */
  padding: 12px;  /* Add padding */
  border-left: 2px solid #ddd;  /* Vertical borders */
}

#myTable tr {
  border-bottom: 1px solid #ddd;  /* Add a bottom border to all table rows */
  line-height: 28px;  /* Same row height */
}

#myTable td:first-child, #myTable th:first-child {
  border-left: none;  /* Remove left-most border */
}

#myTable tr:nth-child(even) {
  background-color: #f2f2f2;  /* Zebra row pattern */
}

#myTable tr:hover {
  background-color: #ddd;  /* Highlight on hover */
}

a:link, a:visited {
  color: black;  /* Black hyperlink text */
  text-decoration: underline;  /* Underline hyperlink */
}
